@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: Nunito Sans;
}
html body{
    background-color: #efefef
}
.logo{
    height: 60%;
    margin:0 0 0 10%;
}
.template{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 14vh;
    width: 100%;
}
.create{
    padding-right: 1%;
}
#byn{
    color: #166beb;
}

nav{
    background-color: #efefef;
   height: 50px;
    width: 100%;
    padding-top: 2px;
}
.navigation{
    padding-left: 11%;
}
.navigation>ul>li{
    float: left;
   margin-left: 4%;
 }
.navigation>ul{
    list-style: none;
  }
  .navigation>ul>li>i{
      font-size: 20px;
     color:rgba(0,0,0,.55); 
  }
  .navigation>ul>li>a{
      text-decoration: none;
      padding-left: 8px;
      color: #867777;
  }
  .bg_img img{
    object-fit: fill;
    width: 100%; 
    height:340px;
    float: left;
}
.container-md{
    background-color:white;
    height:20%;
   box-shadow: 2px 3px 10px  rgb(179, 179, 179);
   position: absolute;
     top: 58%;
     left: 7%;
    border-radius: 15px;
}
#btn_one , #btn_2{
    border-radius: 50px;
    padding: 5px 15px 5px 10px;
    margin: 0 10px 10px  0px ;
    border: none;
}
#btn_one:hover{
   background-color: rgb(255, 215, 187);
}
#btn_2:hover{
    background-color: rgb(255, 215, 187);
}
.round{
    padding: 5px 0 0 3px;
}
.flex{
    display: flex;
    gap: 20px ;
}
.boxes>p{
    font-size: 18px;
   color:rgb(62, 62, 62) ; 
}
.boxes>i{
    font-size: 20px;
}
input{
    height: 30px;
  border: none;
  width: 75%;
}
input:focus {
    outline: none; 
  }
  #dt{
    color: #857676;
    padding: 1.5%;
  }
.input{
    border: 1px solid rgb(191, 191, 191);
}
#btn{
    padding: 0 2% 0 2%;
    margin: 3% 0 0 2%;
    background-color: #166beb;
    color: white;
    border: none;
}
.container-xxl{
    margin: 35% 0 5% 20% ;
    width: 80%;
    background-color: white;
    box-shadow: 2px 3px 10px  rgb(179, 179, 179);
    border-radius: 2%;   
     gap: 15%;
     height: 890px;
}

.places{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5% ;
    padding-left: 2%;  
    margin-top: 3%;
}
.place{
  height: 105%;
  width: 90%;
 text-align: center;
 padding-top: 3%;
 box-shadow:0px 0px 2px 3px lavender; 

}
.place>p{
    font-size: 18px;
    font-weight: 400;
}
.pic>img{
    height: 50%;
    width: 100%;
}
.heading{
    text-align: center;
    padding-top: 2%;
    color: #868383;
    font-weight: 300;
}
.place>a{
    color: #166beb;
    text-decoration: none;
    position: relative;
    top: 4%;
}
.foot{
  width: 100%;
  margin: 5% 0 2% 0;
  display: flex;
  justify-content: space-around;
 padding-top: 55px;
 background-color: white;
}
.detail{
  height: 50%;
  width: 100%;
  background-color: white;
}
.detail>h5{
    text-align: center;
    font-weight: 500;
}
.detail>ul>li{
    list-style: none;
    text-align: center;
    font-size: 17px;
}
.detail>ul>li>a{
    text-decoration: none;
    color: #716262;
   
}
#i{
    color: #818080;
    margin-right: 10px;
}
h6{
    text-align: center;
}
.detail>p{
    text-align: center;
    font-weight: 600;
    color: #716262;
}
body>P{
    text-align: center;
    color: #5f5959;
    font-weight: 600;
}

